$highlighted: #8acdf6;
$highlighted-border: #bde3ff;

$disabled-bg: #f0f0f0;
$disabled-color: #bfbfbf;

$cell-border: #e6e7ea;
$cell-color: #444444;
$cell-bg: #ffffff;
$cell-width: 30px;

$info-color: rgba(60, 60, 60, 0.5);

$th-border-bottom: #dadada;
$th-color: #aaaaaa;

$invalid-border: #cacaca;
$invalid-color: #ffffff;
$invalid-bg: #c0c0c0;

$btn-fill: $cell-color;
$btn-border: #aaaaaa;
