$highlighted: #8acdf6;
$highlighted-border: #bde3ff;

$disabled-bg: #e6e6e6;
$disabled-hover-bg: #f2f2f2;
$disabled-color: #bfbfbf;

$booked-bg: #ff9933;
$booked-color: #666666;

$cell-border: #dedfe2;
$cell-color: #444444;
$cell-bg: #ffffff;
$cell-width: 30px;

$info-color: rgba(60, 60, 60, 0.5);

$th-border-bottom: #cbcbcb;
$th-color: #aaaaaa;

$invalid-border: #cacaca;
$invalid-color: #ffffff;
$invalid-bg: #c0c0c0;

$btn-fill: $cell-color;
$btn-border: $th-border-bottom;
$btn-fill-hover: #3895d9;
