@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.calendar {
  font: 0.875rem/1.4 "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
  margin:0 -1rem 3rem;
  background: #fff;
  padding: 2rem;
}

.calendar .caption {
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.calendar .monthsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.calendar .mCell {
  margin: 0 1rem 2rem;
  min-width: 14rem;
  flex: 1 1 25%;
}

.calendar .month {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%;
}

.calendar .tableHeader,
.calendar .body {
  margin: 0;
}

.calendar .th {
  border-bottom: 1px solid #eee;
  font-size: 0.85rem;
  color: #aaa;
  height: 25px;
  width: 20px;
  text-align: center;
}


.calendar .cell {
  text-align: center;
  padding: 0;
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid #e9ebef;
  vertical-align: middle;
  background-clip: padding-box;
  color: #444;
}

.calendar .infoExtra,
.calendar .info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.7rem;
  padding: 1px 3px;
  text-align: right;
  font-weight: 100;
  right: 0;
}

.calendar .infoExtra {
  left: 0;
  text-align: left;
  right: auto;
}

.calendar .disabled, .calendar .disabled:hover {
  color: #bfbfbf;
  cursor: default;
  background-color: #f8f8f8;
}

.calendar .highlighted {
  background-color: #8acdf6;
  border-color: #bde3ff;
}

.calendar .invalid {
  background-color: #d8dade;
}

.actionsEnabled [data-enabled]:hover,
.calendar .selected{
  background-color: #50abf4;
}

.calendar .selectedStart {
  background: linear-gradient(to right bottom, #ffffff 50%, #8acdf6 50%);
  border-top-color: #e9ebef;
  border-left-color: #e9ebef;
}

.calendar .selectedEnd {
  background: linear-gradient(to left top, #ffffff 50%, #8acdf6 50%);
  border-bottom-color: #e9ebef;
  border-right-color: #e9ebef;
}

.calendar .invalid.selectedStart {
  background: linear-gradient(to right bottom, #ffffff 50%, #d8dade 50%);
}

.calendar .invalid.selectedEnd {
  background: linear-gradient(to left top, #ffffff 50%, #d8dade 50%);
}

.actionsEnabled [data-enabled]:hover {
  cursor: pointer;
}

.actionsEnabled [data-enabled]:hover .info,
.actionsEnabled [data-enabled]:hover .infoExtra {
  cursor: pointer;
}

.calendar .cell.invalid:hover {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

/* buttons */
.calendar .forward, .calendar .back {
  cursor: pointer;
  height: 23px;
  width: 23px;
  fill: #45494a;
  border-radius: 2px;
  border: 1px solid #e9ebef;
  padding: 6px 9px;
  top: 1.4rem;
  left: 1rem;
  z-index: 2;
  position: absolute;
}

.calendar .forward {
  right: 1rem;
  left: auto;
}

.calendar .forward[disabled],
.calendar .back[disabled] {
  opacity: 0.5;
  cursor: default;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}
@keyframes pulse {
  50% {
    background: white;
  }
}

.calendar .loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #cacaca;
  border-top-color: #000;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.calendar .loadingLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.55);
  right: 0;
  z-index: 10;
}
/* chunky layout */
.chunky .cell {
  height: 57px;
}

.chunky .mCell{
  min-width: 20rem;
}
