@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.calendar {
  font: 0.875rem/1.4 "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0 -1rem 3rem;
  background: #fff;
  padding: 2rem;
}

.calendar .caption {
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.calendar .monthsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.calendar .mCell {
  margin: 0 1rem 2rem;
  min-width: 14rem;
  flex: 1 1 25%;
}

.calendar .month {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 100%;
}

.calendar .tableHeader,
.calendar .body {
  margin: 0;
}

.calendar .th {
  border-bottom: 1px solid #eee;
  font-size: 0.85rem;
  color: #aaa;
  height: 25px;
  width: 20px;
  text-align: center;
}

.calendar .cell {
  text-align: center;
  padding: 0;
  position: relative;
  border: 1px solid #e9ebef;
  vertical-align: middle;
  color: #444;
  background-clip: padding-box;
  overflow: hidden;
  width: 30px;
}

.calendar .cell:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.calendar .cnt {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0;
}

.calendar .infoExtra,
.calendar .info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.7rem;
  padding: 1px 3px;
  text-align: right;
  font-weight: 100;
  right: 0;
}

.calendar .infoExtra {
  left: 0;
  text-align: left;
  right: auto;
}

/********************************************************

				  selections, start and ends

********************************************************/
.calendar .selected {
  /* selected cell generic styles */
}

.calendar .disabled, .calendar .disabled:hover {
  color: #bfbfbf;
  cursor: default;
  background-color: #f8f8f8;
}

.actionsEnabled [data-enabled]:hover,
.calendar .highlighted {
  border-color: #bde3ff;
}

.calendar .selectedStart,
.calendar .selectedStart:hover {
  background: linear-gradient(to left top, rgba(0, 0, 0, 0) 50%, #fff 50%);
  border-top-color: #e9ebef;
  border-left-color: #e9ebef;
}

.selecting .highlighted:hover,
.calendar .selectedEnd,
.calendar .selectedEnd:hover {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 50%, #fff 50%);
  border-bottom-color: #e9ebef;
  border-right-color: #e9ebef;
}

.calendar .availableOut,
.calendar .availableOut:hover {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 50%, #f8f8f8 50%);
  color: #444;
}

.calendar .disabledStart,
.calendar .disabledStart:hover {
  background: linear-gradient(to left top, transparent 50%, #f8f8f8 50%);
}

.actionsEnabled [data-enabled]:hover,
.selecting .availableOut:hover,
.calendar .selectedEnd.availableOut,
.calendar .highlighted {
  background-color: #8acdf6;
  cursor: pointer;
}

.actionsEnabled [data-enabled]:hover,
.actionsEnabled [data-enabled]:hover .cnt,
.actionsEnabled [data-enabled]:hover .info,
.actionsEnabled [data-enabled]:hover .infoExtra {
  cursor: pointer;
}

.selecting .availableOut:hover,
.selecting .availableOut:hover .cnt,
.selecting .availableOut:hover .info,
.selecting .availableOut:hover .infoExtra {
  cursor: pointer;
}


.calendar .invalid:not(.selectedStart) {
  background: #eeeeee;
  color: #aaa;
  border-color: #ffffff;
}

.calendar .invalid.selectedStart {
  background-color: #eeeeee;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}



/********************************************************

				     buttons

********************************************************/
.calendar .forward, .calendar .back {
  cursor: pointer;
  height: 23px;
  width: 23px;
  fill: #45494a;
  border-radius: 2px;
  border: 1px solid #e9ebef;
  padding: 6px 9px;
  top: 1.4rem;
  left: 1rem;
  z-index: 2;
  position: absolute;
}

.calendar .forward {
  right: 1rem;
  left: auto;
}

.calendar .forward:active,
.calendar .forward:focus,
.calendar .back:active,
.calendar .back:focus {
  outline: none;
}

.calendar .forward:hover,
.calendar .back:hover {
  border-color: #8acdf6;
}

.calendar .forward[disabled],
.calendar .back[disabled] {
  opacity: 0.5;
  cursor: default;
}

/********************************************************

				     loader

********************************************************/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}

@keyframes pulse {
  50% {
    background: white;
  }
}

.calendar .loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #cacaca;
  border-top-color: #000;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.calendar .loadingLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.55);
  right: 0;
  z-index: 10;
}

/* chunky layout */
.chunky .cell {
  /*height: 57px;*/
}

.chunky .mCell {
  min-width: 20rem;
}
