@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import 'loading';
@import 'drop';

/********************************************************

				      colors

********************************************************/

$highlighted: #8acdf6;
$highlighted-border: #bde3ff;

$disabled-bg: #f0f0f0;
$disabled-color: #bfbfbf;

$cell-border: #eaecf0;
$cell-color: #444444;
$cell-bg: #ffffff;
$cell-width: 30px;

$info-color: rgba(60, 60, 60, 0.5);

$th-border-bottom: #dfdfdf;
$th-color: #aaaaaa;

$invalid-border: #cacaca;
$invalid-color: #ffffff;
$invalid-bg: #c0c0c0;

$btn-fill: $cell-color;

.calendar {
  font: 1rem/1.4 "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0 -1rem 3rem;
  background: $cell-bg;

  .caption {
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }

  .monthsWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .mCell {
    font-size: 0.875rem;
    margin: 0 1rem 2rem;
    min-width: 14rem;
    flex: 1 1 25%;
  }

  .month {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .tableHeader,
  .body {
    margin: 0;
  }

  .th {
    border-bottom: 1px solid $th-border-bottom;
    font-size: 0.85rem;
    color: $th-color;
    height: 25px;
    width: $cell-width;
    text-align: center;
  }

  .cell {
    text-align: center;
    padding: 0;
    position: relative;
    border: 1px solid $cell-border;
    vertical-align: middle;
    color: $cell-color;
    background-clip: padding-box;
    overflow: hidden;
    width: $cell-width;
  }

  .cell:after {
    content: '';
    display: block;
    margin-top: 100%;
  }

  .cnt {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 0;
  }

  .infoExtra,
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.625rem;
    padding: 1px 3px;
    text-align: right;
    color: $info-color;
    right: 0;
  }

  .infoExtra {
    left: 0;
    text-align: left;
    right: auto;
  }
}

.focus {
  border-color: $highlighted;
}

/********************************************************

				  selections, start and ends

				  N.B. Edit at your own risk
				  one cell can have 10 states and lots of these combinations

				  enabled

				  disabled
				  morningDisabled
				  nightDisabled

				  highlighted
				  morningSelected
				  nightSelected

				  invalid
				  morningInvalid
				  nightInvalid


********************************************************/
.calendar .selected {
  color: inherit;
  // selected cell generic styles
}

.calendar .reversed {
  color: inherit;
  // selecting reversed (e.g. check-out first)
}

.calendar .direct {
  color: inherit;
}

.calendar .selectingReversed {
  color: inherit;
}

.calendar .selectingDirect {
  color: inherit;
}

.calendar .disabled,
.calendar .disabled:hover {
  color: $disabled-color;
  cursor: default;
  background-color: $disabled-bg;
}

.calendar .highlighted {
  border-color: $highlighted-border;
}

.direct [data-enabled]:hover,
.calendar .selectedStart {
  background: linear-gradient(to left top, transparent 50%, $cell-bg 50%);
  border-top-color: $cell-border;
  border-left-color: $cell-border;
}

.selectingDirect .highlighted:hover,
.calendar .selectedEnd {
  background: linear-gradient(to right bottom, transparent 50%, $cell-bg 50%);
  border-bottom-color: $cell-border;
  border-right-color: $cell-border;
}

.reversed [data-available-out]:hover {
  background: linear-gradient(to right bottom, transparent 50%, $cell-bg 50%);
}

.selectingReversed .highlighted:hover{
  background: linear-gradient(to left top, transparent 50%, $cell-bg 50%);
  border-top-color: $cell-border;
  border-left-color: $cell-border;
}

.selectingReversed .selectedEnd,
.selectingReversed .selectedEnd:hover {
  background: linear-gradient(to right bottom, transparent 50%, $cell-bg 50%);
}

.calendar .nightDisabled,
.calendar .nightDisabled:hover {
  background: linear-gradient(to right bottom, transparent 50%, $disabled-bg 50%);
  color: $cell-color;
}

.calendar .morningDisabled,
.calendar .morningDisabled:hover {
  background: linear-gradient(to left top, transparent 50%, $disabled-bg 50%);
}

.direct [data-enabled]:hover,
.reversed [data-available-out]:hover,
.selectingDirect .nightDisabled:hover,
.selectingReversed .morningDisabled:hover,
.calendar .selectedStart,
.calendar .selectedEnd,
.calendar .highlighted {
  background-color: $highlighted;
  cursor: pointer;
}

.direct {
  [data-enabled]:hover,
  [data-enabled]:hover .cnt,
  [data-enabled]:hover .info,
  [data-enabled]:hover .infoExtra {
    cursor: pointer;
  }
}

.reversed {
  [data-available-out]:hover,
  [data-available-out]:hover .cnt,
  [data-available-out]:hover .info,
  [data-available-out]:hover .infoExtra {
    cursor: pointer;
  }
}

.selectingDirect {
  .nightDisabled:hover,
  .nightDisabled:hover .cnt,
  .nightDisabled:hover .info,
  .nightDisabled:hover .infoExtra {
    cursor: pointer;
  }
}

.selectingReversed {
  .morningDisabled:hover,
  .morningDisabled:hover .cnt,
  .morningDisabled:hover .info,
  .morningDisabled:hover .infoExtra {
    cursor: pointer;
  }
}

.actionsEnabled .invalid:not(.selectedStart) {
  background: $invalid-bg;
  color: $invalid-color;
  border-color: $invalid-border;
}

.selectingReversed .invalid:hover {
  background: linear-gradient(to right bottom, transparent 50%, $invalid-bg 50%);
  border-top-color: $cell-border;
  border-left-color: $cell-border;
  color: $cell-color;
}

.selectingReversed .invalid.selectedEnd,
.selectingDirect .invalid:hover {
  background: linear-gradient(to left top, transparent 50%, $invalid-bg 50%);
  border-bottom-color: $cell-border;
  border-right-color: $cell-border;
  color: $cell-color;
}

.calendar .invalid {
  background-color: $invalid-bg;
  border-bottom-color: $invalid-border;
  border-right-color: $invalid-border;
}

.calendar {
  .invalid:hover,
  .invalid:hover .cnt,
  .invalid:hover .info,
  .invalid:hover .infoExtra {
    cursor: default;
  }
}

.calendar .invalid.disabled:hover {
  background-color: $disabled-bg;
}

/********************************************************

				     buttons

********************************************************/
.calendar {
  .forward, .back {
    cursor: pointer;
    height: 23px;
    width: 23px;
    fill: $btn-fill;
    border: 1px solid $cell-border;
    padding: 6px 9px;
    top: -0.6rem;
    left: 1rem;
    z-index: 2;
    position: absolute;
  }

  .forward {
    right: 1rem;
    left: auto;
  }

  .forward:active,
  .forward:focus,
  .back:active,
  .back:focus {
    outline: none;
  }

  .forward:hover,
  .back:hover {
    border-color: $highlighted;
  }

  .forward[disabled],
  .forward[disabled]:hover,
  .back[disabled],
  .back[disabled]:hover {
    opacity: 0.5;
    cursor: default;
    border-color: $cell-border;
  }
}

/********************************************************

				     mods

********************************************************/
/* chunky layout */
.chunky .cell {
  //height: 57px;
}

.chunky .mCell {
  min-width: 20rem;
}
