@import 'svg-uri';
@import 'variables';
@import 'loading';
@import 'drop';
@import 'theme-basic';

/********************************************************

    colors

********************************************************/

.calendar {
  font: 1rem/1.4 Helvetica, Arial, sans-serif;
  position: relative;
  background: $calendar-bg-color;

  .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: .8em;
    padding-top: 0;
    text-align: center;
  }

  .tooltip {
    background: $tooltip-bg-color;
    color: $tooltip-color;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    z-index: 500;
    pointer-events: none;

    .tooltipArrow {
      visibility: hidden;

      &, &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
      }

      &::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement^='top'] > .tooltipArrow {
      bottom: -4px;
    }
    
    &[data-popper-placement^='bottom'] > .tooltipArrow {
      top: -4px;
    }
    
    &[data-popper-placement^='left'] > .tooltipArrow {
      right: -4px;
    }
    
    &[data-popper-placement^='right'] > .tooltipArrow {
      left: -4px;
    }
  }

  .monthsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2em;
  }

  .pagination {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 2rem;
    z-index: 2;
  }

  .mCell {
    font-size: 0.875em;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;

    @media only screen and (max-width: 990px) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
    }
  }

  .month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .tableHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0;
  }

  .body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    gap: 0.2em;
  }

  .weekRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .th,
  .cell,
  .placeholder {
    width: $cell-width;
    min-width: $cell-width;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 $cell-width;
    flex: 1 1 $cell-width;
    box-sizing: border-box;
  }

  .th {
    font-size: 0.85em;
    color: $th-color;
    height: 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cell {
    text-align: center;
    padding: 0;
    position: relative;
    border: 0;
    color: $cell-color;
    background-clip: padding-box;
    overflow: hidden;
    height: auto;
    aspect-ratio: 1 / 1;

    &.today {
      font-weight: bold;
    }
  }

  .placeholder {
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .cnt {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 1em;
    font-weight: inherit;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.65em;
    padding: 1px 3px;
    color: $info-color;
    right: 0;
    line-height: 1.1;
    text-align: center;
  }
}

.focus,
.disabled,
.selected,
.reversed,
.direct,
.selectingReversed,
.selectingDirect,
.actionsEnabled,
.highlighted,
.invalid {
  color: inherit;
}

/********************************************************
  cell hover cursors
/*******************************************************/

.calendar {
  // cursor pointer if calendar is selectable
  &[data-selectable="true"] .cell * {
    cursor: pointer;
  }
}

/********************************************************

    buttons

********************************************************/
.calendar {

  .forward,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 23px;
    fill: $btn-fill;
    padding: 0;
    border-radius: 1px;
    cursor: pointer;
    z-index: 2;

    svg {
    height: inherit;
    width: inherit;
    }
  }

  .forward {
    right: 0;
    left: auto;
  }

  .forward:active,
  .forward:focus,
  .back:active,
  .back:focus {
    outline: none;
  }

  .forward:focus-visible,
  .back:focus-visible {
    outline: 2px solid $btn-fill;
  }

  .forward:hover,
  .back:hover {
    fill: $btn-fill-hover;
  }

  .forward[disabled],
  .forward[disabled]:hover,
  .back[disabled],
  .back[disabled]:hover {
    opacity: 0.5;
    cursor: default;
    fill: $btn-fill;
  }
}

/********************************************************

    mobile mode

********************************************************/
.calendar.mobileMode:not(.dropBasic),
.calendar.dropBasic.mobileMode.visible {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  max-height: 75vh;
  overflow-y: auto;

  .pagination {
    position: sticky;
    grid-column: 1;
    grid-row: 1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    min-height: 0;
    height: 0;
    pointer-events: none;
  }

  .monthsWrapper {
    grid-column: 1;
    grid-row: 1;
    flex-direction: column;
    gap: 1em;
  }

  .mCell {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .caption {
    position: sticky;
    top: 0;
    z-index: 4;
    background: $calendar-bg-color;
    margin-bottom: .8em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .forward,
  .back {
    position: absolute;
    top: 0;
    z-index: 10;
    background: $calendar-bg-color;
    pointer-events: auto;
  }

  .back {
    left: 0;
    right: auto;
  }

  .forward {
    right: 0;
    left: auto;
  }
}
