@import 'svg-uri';
@import 'variables';
@import 'loading';
@import 'drop';

/********************************************************

    colors

********************************************************/

.calendar {
  position: relative;
  font: 1rem/1.4 Helvetica, Arial, sans-serif;
  position: relative;
  background: $calendar-bg-color;

  .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 2.3em;
    padding-top: 0;
    text-align: center;
  }

  .tooltip {
    background: $tooltip-bg-color;
    color: $tooltip-color;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    z-index: 500;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;

    &[x-placement] {
      visibility: visible;
      opacity: 1;
    }

    .tooltipArrow {
      visibility: hidden;

      &, &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
      }

      &::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement^='top'] > .tooltipArrow {
      bottom: -4px;
    }
    
    &[data-popper-placement^='bottom'] > .tooltipArrow {
      top: -4px;
    }
    
    &[data-popper-placement^='left'] > .tooltipArrow {
      right: -4px;
    }
    
    &[data-popper-placement^='right'] > .tooltipArrow {
      left: -4px;
    }
  }

  .monthsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2em;
  }

  .mCell {
    font-size: 0.875em;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;

    @media only screen and (max-width: 990px) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
    }
  }

  .month {
    border-collapse: separate;
    border-spacing: 0 0.2em;
    padding: 0;
    margin: 0;
    width: 100%;
    
  }

  .tableHeader,
  .body {
    margin: 0;
  }

  .th {
    font-size: 0.85em;
    color: $th-color;
    height: 25px;
    width: $cell-width;
    text-align: center;
  }

  .cell {
    text-align: center;
    padding: 0;
    position: relative;
    border: 0;
    vertical-align: middle;
    color: $cell-color;
    background-clip: padding-box;
    overflow: hidden;
    width: $cell-width;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      margin: 0;
      content: '';
      -webkit-transform: skew(-30deg);
      -ms-transform: skew(-30deg);
      transform: skew(-30deg);
      border-radius: 6px;
      z-index: 0;

      // fix blurry skew
      height: calc(100% + 2px);
      top: -1px;
    }

    &::before {
      left: -55%;
    }

    &::after {
      left: 55%;
    }

    &.today {
      font-weight: bold;
    }
  }

  .cnt {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    font-size: 1em;
    font-weight: inherit;

    &::after {
    content: '';
    display: block;
    margin-top: 100%;
    }
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.65em;
    padding: 1px 3px;
    color: $info-color;
    right: 0;

    > span {
      display: block;
      text-align: center;
    }
  }
}

.focus,
.disabled,
.selected,
.reversed,
.direct,
.selectingReversed,
.selectingDirect,
.actionsEnabled,
.highlighted,
.invalid {
  color: inherit;
}

/********************************************************

    selections, left - center - right

********************************************************/

/********************************************************
  cells disabled
/*******************************************************/

.calendar {
  [data-disabled="left"]::after {
    background: $disabled-bg-color;
  }

  [data-disabled="center"] {
    background: $disabled-bg-color;
    color: $disabled-color;

    &::before,
    &::after {
      display: none;
      background: $disabled-bg-color;
    }
  }

  [data-disabled="right"]::before {
    background: $disabled-bg-color;
  }
}

/********************************************************
  cells highlighted
/*******************************************************/

.calendar {
  [data-highlighted="left"]::after {
    display: block;
    background: $highlighted-bg-color;
  }

  [data-highlighted="center"] {
    background: $highlighted-bg-color;
    color: $highlighted-color;

    &::before,
    &::after {
      display: none;
      background: $highlighted-bg-color;
    }
  }

  [data-highlighted="right"]::before {
    display: block;
    background: $highlighted-bg-color;
  }
}

/********************************************************
  cells invalid
/*******************************************************/

.calendar {
  [data-invalid="left"] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $invalid-bg-color;
    }
  }

  [data-invalid="center"] {
    background: $invalid-bg-color;
    color: $invalid-color;
  
    &::before,
    &::after {
      display: none;
      background: $invalid-bg-color;
    }
  }

  [data-invalid="right"] {
    background: none;

    &::before {
      display: block;
      background: $invalid-bg-color;
    }

    &::after {
      display: block;
    }
  }
}

/********************************************************
  cell hover direct
/*******************************************************/

.direct {
  // cell hovered when selecting left to right
  [data-hovered] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $highlighted-bg-color;
    }
  }

  [data-hovered-offset] {
    background: none;

    &::before {
      display: block;
      background: $highlighted-bg-color;
    }

    &::after {
      display: block;
    }
  }
}

/********************************************************
  cell hover reversed
/*******************************************************/

.reversed {
  // when selecting right to left
  [data-hovered] {
    background: none;

    &::before {
      display: block;
      background: $highlighted-bg-color;
    }

    &::after {
      display: block;
    }
  }

  [data-hovered-offset] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $highlighted-bg-color;
    }
  }
}

/********************************************************
  cell hover cursors
/*******************************************************/

.calendar {
  // cursor pointer if calendar is selectable
  &[data-selectable="true"] .cell * {
    cursor: pointer;
  }
}

/********************************************************

    buttons

********************************************************/
.calendar {

  .forward,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 23px;
    fill: $btn-fill;
    padding: 0;
    border-radius: 1px;
    cursor: pointer;
    z-index: 2;

    svg {
    height: inherit;
    width: inherit;
    }
  }

  .forward {
    right: 0;
    left: auto;
  }

  .forward:active,
  .forward:focus,
  .back:active,
  .back:focus {
    outline: none;
  }

  .forward:hover,
  .back:hover {
    fill: $btn-fill-hover;
  }

  .forward[disabled],
  .forward[disabled]:hover,
  .back[disabled],
  .back[disabled]:hover {
    opacity: 0.5;
    cursor: default;
    fill: $btn-fill;
  }
}
