.dropBasic {
  position: absolute;
  display: none;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1px 5px 9px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
  background: #fff;
  margin-top: .5rem;
  padding-top: .5rem;
  font-family: inherit;
  line-height: 1.5em;
  z-index: 10;

  &.visible {
    display: block;
  }

  @media (max-width: $breakpoint-xs) {
    left: 0 !important;
    right: 0 !important;
  }

  .calendar {
    margin: 0;
    .mCell {
      margin-bottom: 1rem;
    }
  }
}
