/********************************************************

    dropdown

********************************************************/

.calendar.dropBasic {
  position: absolute;
  display: none;
  max-width: 100%;
  box-shadow: 1px 5px 9px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e0e0;
  background: #fff;
  margin: 0;
  padding: 1em;
  font-family: inherit;
  line-height: 1.5em;
  z-index: 10;

  &.visible {
    display: block;
  }

  .caption {
    margin-bottom: .7em;
  }

  .forward,
  .back {
    top: 1em;
    left: 1em;
  }

  .forward {
    left: auto;
    right: 1em;
  }
}
