/********************************************************

				     loader

********************************************************/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}

@keyframes pulse {
  50% {
    background: white;
  }
}

.calendar .loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid #cacaca;
  border-top-color: #000;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.calendar .loadingLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.55);
  right: 0;
  z-index: 10;
}
