.reset div, .reset span, .reset applet, .reset object, .reset iframe, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6, .reset p, .reset blockquote, .reset pre, .reset a, .reset abbr, .reset acronym, .reset address, .reset big, .reset cite, .reset code, .reset del, .reset dfn, .reset em, .reset img, .reset ins, .reset kbd, .reset q, .reset s, .reset samp, .reset small, .reset strike, .reset strong, .reset sub, .reset sup, .reset tt, .reset var, .reset b, .reset u, .reset i, .reset center, .reset dl, .reset dt, .reset dd, .reset ol, .reset ul, .reset li, .reset fieldset, .reset form, .reset div.form, .reset label, .reset legend, .reset table, .reset caption, .reset tbody, .reset tfoot, .reset thead, .reset tr, .reset th, .reset td, .reset article, .reset aside, .reset canvas, .reset details, .reset figcaption, .reset figure, .reset footer, .reset header, .reset hgroup, .reset menu, .reset nav, .reset section, .reset summary, .reset time, .reset mark, .reset audio, .reset video, .reset button, .reset textarea, .reset input,
.reset .button, .reset .legend {
	font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size-adjust: none;
	font-size: 100%;
	font-style: normal;
	letter-spacing: normal;
	font-stretch: normal;
	font-variant: normal;
	font-weight: normal;
	font: normal normal 100% "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	-moz-text-align-last: initial;
	text-align-last: initial;
	text-decoration: none;
	-webkit-text-emphasis: none;
	text-emphasis: none;
	text-height: auto;
	text-indent: 0;
	text-justify: auto;
	text-outline: none;
	text-shadow: none;
	text-transform: none;
	text-wrap: normal;
	alignment-adjust: auto;
	alignment-baseline: baseline;
	-webkit-animation: none 0 ease 0 1 normal;
	animation: none 0 ease 0 1 normal;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	appearance: normal;
	azimuth: center;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	background: none 0 0 auto repeat scroll padding-box transparent;
	background-color: transparent;
	background-image: none;
	baseline-shift: baseline;
	binding: none;
	bleed: 6pt;
	bookmark-label: content();
	bookmark-level: none;
	bookmark-state: open;
	bookmark-target: none;
	border: 0 none transparent;
	border-radius: 0;
	bottom: auto;
	box-align: stretch;
	-webkit-box-decoration-break: slice;
	box-decoration-break: slice;
	box-direction: normal;
	flex: 0.0;
	flex-group: 1;
	box-lines: single;
	box-ordinal-group: 1;
	box-orient: inline-axis;
	box-pack: start;
	box-shadow: none;
	box-sizing: content-box;
	-webkit-break-after: auto;
	-moz-break-after: auto;
	break-after: auto;
	-webkit-break-before: auto;
	-moz-break-before: auto;
	break-before: auto;
	-webkit-column-break-inside: auto;
	page-break-inside: auto;
	break-inside: auto;
	caption-side: top;
	clear: none;
	clip: auto;
	color: inherit;
	color-profile: auto;
	-webkit-column-count: auto;
	-moz-column-count: auto;
	column-count: auto;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	column-fill: balance;
	-webkit-column-gap: normal;
	-moz-column-gap: normal;
	column-gap: normal;
	-webkit-column-rule: medium medium #1f1f1f;
	-moz-column-rule: medium medium #1f1f1f;
	column-rule: medium medium #1f1f1f;
	-webkit-column-span: 1;
	-moz-column-span: 1;
	column-span: 1;
	-webkit-column-width: auto;
	-moz-column-width: auto;
	column-width: auto;
	-webkit-columns: auto auto;
	-moz-columns: auto auto;
	columns: auto auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	crop: auto;
	cursor: auto;
	direction: ltr;
	display: inline;
	dominant-baseline: auto;
	drop-initial-after-adjust: text-after-edge;
	drop-initial-after-align: baseline;
	drop-initial-before-adjust: text-before-edge;
	drop-initial-before-align: caps-height;
	drop-initial-size: auto;
	drop-initial-value: initial;
	elevation: level;
	empty-cells: show;
	fit: fill;
	fit-position: 0% 0%;
	float: none;
	float-offset: 0 0;
	grid-columns: none;
	grid-rows: none;
	hanging-punctuation: none;
	height: auto;
	hyphenate-after: auto;
	hyphenate-before: auto;
	hyphenate-character: auto;
	hyphenate-lines: no-limit;
	hyphenate-resource: none;
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
	icon: auto;
	image-orientation: auto;
	image-rendering: auto;
	image-resolution: normal;
	inline-box-align: last;
	left: auto;
	line-height: inherit;
	line-stacking: inline-line-height exclude-ruby consider-shifts;
	list-style: disc outside none;
	margin: 0;
	marks: none;
	marquee-direction: forward;
	marquee-loop: 1;
	marquee-play-count: 1;
	marquee-speed: normal;
	marquee-style: scroll;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	move-to: normal;
	nav-down: auto;
	nav-index: auto;
	nav-left: auto;
	nav-right: auto;
	nav-up: auto;
	opacity: 1;
	orphans: 2;
	outline: invert none medium;
	outline-offset: 0;
	overflow: visible;
	overflow-style: auto;
	padding: 0;
	page: auto;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	page-policy: start;
	-webkit-perspective: none;
	perspective: none;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	position: static;
	presentation-level: 0;
	punctuation-trim: none;
	quotes: none;
	rendering-intent: auto;
	resize: none;
	right: auto;
	rotation: 0;
	rotation-point: 50% 50%;
	ruby-align: auto;
	ruby-overhang: none;
	ruby-position: before;
	ruby-span: none;
	size: auto;
	string-set: none;
	table-layout: auto;
	top: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50% 0;
	-ms-transform-origin: 50% 50% 0;
	transform-origin: 50% 50% 0;
	-webkit-transform-style: flat;
	transform-style: flat;
	transition: all 0 ease 0;
	unicode-bidi: normal;
	vertical-align: baseline;
	white-space: normal;
	white-space-collapse: collapse;
	widows: 2;
	width: auto;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	z-index: auto;
	text-align: start;
	/* And disable MS gradients */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.reset address, .reset blockquote, .reset dd, .reset div, .reset dl, .reset dt, .reset fieldset, .reset form, .reset div.form, .reset frame, .reset frameset, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6, .reset noframes, .reset ol, .reset p, .reset ul, .reset center, .reset dir, .reset hr, .reset menu, .reset pre, .reset article, .reset aside, .reset canvas, .reset details, .reset figcaption, .reset figure, .reset footer, .reset header, .reset hgroup, .reset menu, .reset nav, .reset section, .reset summary {
	display: block;
}

.reset li {
	display: list-item;
}

.reset table {
	display: table;
}

.reset tr {
	display: table-row;
}

.reset thead {
	display: table-header-group;
}

.reset tbody {
	display: table-row-group;
}

.reset tfoot {
	display: table-footer-group;
}

.reset col {
	display: table-column;
}

.reset colgroup {
	display: table-column-group;
}

.reset td, .reset th {
	display: table-cell;
}

.reset caption {
	display: table-caption;
}

.reset input, .reset select {
	display: inline-block;
}

.reset b, .reset strong {
	font-weight: bold;
}

.reset b > i, .reset strong > i, .reset b > em, .reset strong > em, .reset i > b, .reset i > strong, .reset em > b, .reset em > strong {
	font-weight: bold;
	font-style: italic;
}

.reset textarea, .reset input {
	cursor: text;
}
