.calendar[data-theme="skew"] {
  .cell {
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      margin: 0;
      content: '';
      -webkit-transform: skew(-30deg);
      -ms-transform: skew(-30deg);
      transform: skew(-30deg);
      border-radius: 6px;
      z-index: 0;

      // fix blurry skew
      height: calc(100% + 2px);
      top: -1px;
    }

    &::before {
      left: -55%;
    }

    &::after {
      left: 55%;
    }
  }
}

/********************************************************

    selections, left - center - right

********************************************************/

/********************************************************
  cells disabled
/*******************************************************/

.calendar[data-theme="skew"] {
  [data-disabled="left"]::after {
    background: $disabled-bg-color;
  }

  [data-disabled="center"] {
    background: $disabled-bg-color;
    color: $disabled-color;

    &::before,
    &::after {
      display: none;
      background: $disabled-bg-color;
    }
  }

  [data-disabled="right"]::before {
    background: $disabled-bg-color;
  }
}

/********************************************************
  cells highlighted
/*******************************************************/

.calendar[data-theme="skew"] {
  [data-highlighted="left"]::after {
    display: block;
    background: $highlighted-bg-color;
  }

  [data-highlighted="center"] {
    background: $highlighted-bg-color;
    color: $highlighted-color;

    &::before,
    &::after {
      display: none;
      background: $highlighted-bg-color;
    }
  }

  [data-highlighted="right"]::before {
    display: block;
    background: $highlighted-bg-color;
  }
}

/********************************************************
  cells invalid
/*******************************************************/

.calendar[data-theme="skew"] {
  [data-invalid="left"] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $invalid-bg-color;
    }
  }

  [data-invalid="center"] {
    background: $invalid-bg-color;
    color: $invalid-color;
  
    &::before,
    &::after {
      display: none;
      background: $invalid-bg-color;
    }
  }

  [data-invalid="right"] {
    background: none;

    &::before {
      display: block;
      background: $invalid-bg-color;
    }

    &::after {
      display: block;
    }
  }
}

/********************************************************
  cell hover direct
/*******************************************************/

.direct[data-theme="skew"] {
  // cell hovered when selecting left to right
  [data-hovered] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $highlighted-bg-color;
    }
  }

  [data-hovered-offset] {
    background: none;

    &::before {
      display: block;
      background: $highlighted-bg-color;
    }

    &::after {
      display: block;
    }
  }
}

/********************************************************
  cell hover reversed
/*******************************************************/

.reversed[data-theme="skew"] {
  // when selecting right to left
  [data-hovered] {
    background: none;

    &::before {
      display: block;
      background: $highlighted-bg-color;
    }

    &::after {
      display: block;
    }
  }

  [data-hovered-offset] {
    background: none;

    &::before {
      display: block;
    }

    &::after {
      display: block;
      background: $highlighted-bg-color;
    }
  }
}
